.bold-text {
  //font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  color: #ffffff;
}

.buy-and-burn__progress-bar-content {
  margin-bottom: 25px;
}

.buy-and-burn__progress-bar {
  -webkit-appearance: none;
  appearance: none;
  width: 520px;
  height: 20px;
}

.buy-and-burn__progress-bar::-webkit-progress-bar {
  background-color: #2f3864;
}

.buy-and-burn__progress-bar::-webkit-progress-value {
  background-color: #ffffff;
}

.buy-and-burn__progress-bar-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 517px;
  margin-bottom: 7px;
}

.buy-and-burn__title-right,
.buy-and-burn__title-left {
  //font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
}

.buy-and-burn__title-right {
  float: right;
}

.buy-and-burn__amount-right,
.buy-and-burn__amount-left {
  //font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
